<!--
<div>
    <h2>Login</h2>
    <form (ngSubmit) = "onLogin()">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
  
      <button type="submit">Login</button>
    </form>
  </div>

  <hr>
-->
  <!-- login.component.html -->

  <div class="container">
    <div class="row">
      <div col="col-md-6">
        
      </div>
    </div>
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()" >
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" required [(ngModel)]="username">
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" required [(ngModel)]="password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" style="width:100%">Login</button>
      </div>
     
    </form>
  </div>
  
 
  
