nav {
    display: flex;
    align-items: center;
    overflow: auto;
    width: 100%; /* Set width to 100% */
    justify-content: flex-end; /* Align items to the right */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    background-color: #c8d1e4;
    width: 100%; /* Set width to 100% */
  }
  
  li {
    margin-right: 10px; /* Adjust the margin between menu items */
  }
  
/*
 li:last-child {
    margin-right: 0; 
    margin-left: auto; 
  }
*/
  
  li:first-child {
    margin-left: auto; /* Move the first item to the right */
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1rem;
  }
  
  li a:hover {
    background-color: #111;
    color: white;
  }
  