<div mat-dialog-title>
    <h2>Add Operational Unit</h2>
</div>
<form [formGroup]="operationalUnitForm" (ngSubmit)="onFormSubmit()"> 
    <input type="hidden" formControlName="operationalUnitId"/><br>
    <div mat-dialog-content >
        <div class="row">
        
            <mat-form-field appearance="outline">
                <mat-label>Unit Name</mat-label>
                <input matInput type="text" placeholder="" formControlName="unitNameEn">
                 <!-- <control-messages [control]="operationalUnitForm.get('unitNameEn')"></control-messages> -->
            </mat-form-field>              
        </div>
        <div class="row">        
            <mat-form-field appearance="outline">
                <mat-label>Unit Name (Bangla)</mat-label>
                <input matInput type="text"  formControlName="unitNameBn">
            </mat-form-field>
                
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Major Goods Or Service</mat-label>
                <input matInput type="text" formControlName="majorGoodsOrService">
            </mat-form-field>
        
        </div>
        <div class="row">
            
            <mat-form-field appearance="outline">
                <mat-label>Remarks</mat-label>
                <input matInput type="text"  formControlName="remarks">
            </mat-form-field>
        </div>
    <!--
        <div class="row">

            <mat-form-field appearance="outline">
                <mat-label>Unit Open Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="unitOpenDate">
            
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
        </div>
        -->
        <div class="row">
            <mat-form-field appearance="outline">
            <mat-label>Unit Open Date</mat-label>
            <input matInput [matDatepicker]="picker" 
            formControlName="unitOpenDate" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        
        
        
        <!-- Your component's template -->
    <!--
        <div class="col-md-4">
        <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="picker" formControlName="unitOpenDate" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <control-messages [control]="operationalUnitForm.get('unitOpenDate')"></control-messages>
    </div>
    -->
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Active</mat-label>
                <mat-select formControlName="active" [compareWith]="compareFn">
                    <mat-option value="1" >Yes</mat-option>
                    <mat-option value="0">No</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            
            <mat-form-field appearance="outline">
                <mat-label>Unit Closed Date</mat-label>
                <input matInput [matDatepicker]="pickerClose" formControlName="unitClosedDate">
                
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="pickerClose"></mat-datepicker-toggle>
                <mat-datepicker #pickerClose></mat-datepicker>
            </mat-form-field>
    
        </div>
        
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput type="text"  formControlName="address">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Serial No</mat-label>
                <input matInput  formControlName="serialNo">
            </mat-form-field>
        </div>
        <div class="row">
            
            <mat-form-field appearance="outline">
                <mat-label>Unit Type</mat-label>
            
                <mat-select formControlName="unitType">
                    <mat-option value="1">Head office</mat-option>
                    <mat-option value="2">Subsidary</mat-option>
                    <mat-option value="3">Unit</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
   
    </div>
    <div mat-dialog-actions class="action">
      
        <button mat-raised-button type="button" [mat-dialog-close]="false"> Cancel</button>
        <button mat-raised-button color="primary" type="submit"> {{data ? 'Update': 'Save'}}</button>
    </div>

    <!--
   <div mat-dialog-actions class="action">
        <div class="left-button">
          <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        </div>
        <div class="right-button">
          <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
        </div>
      </div>
    -->
    
      
   
</form>
    



